/*HEADER*/

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

nav {
    background-color: rgba(44,62,80,255);
}

.header-start {
    background-color: rgba(26,188,156,255);
}

.img_avatar {
    width: 220px;
}

h1 , h2 , h3 {
    font-weight: bold;
}

.short_line {
    display: inline-block;
    width: 90px;
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

.fa-star {
    font-size: 35px;
    vertical-align: middle;
}

.professionals {
    font-size: 22px;
}


/*MAIN*/

/*Section 1*/

.main-section-1 {
    background-color: white;
}

h2 {
    color: rgb(24, 24, 24);
}

.short_line-blue {
    background-color: rgb(8, 8, 37);
}

.fa-star-blue {
    color: rgb(8, 8, 37);
}

.main_images {
    width: 100%;
    position: relative;
}

.hover_col:hover .main_images {
    filter: brightness(0.3);
}

.fa-plus {
    font-size: 80px;
}

.icon_container {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.hover_col:hover .icon_container {
    display: block;
}


/*Section 2*/

.main-section-2 {
    background-color: rgba(26,188,156,255);
}

.main-section-2 h2 {
    color: white;
}

.fa-download {
    padding-right: 7px;
    font-size: 19px;
}


/*Section 3*/

.section-3 {
    background-color: white;
}

.textarea {
    border: 0;
    border-bottom: 1.2px solid grey;
    line-height: 2.5em;
    border-radius: 0;
}

.textarea:focus {
    box-shadow: none;
    border-color: rgb(9, 65, 102);
}

.send_color {
    background-color: rgba(26,188,156,255);
}


/*FOOTER*/

/*Footer top*/

.footer-section-1 {
    background-color: rgba(58,84,109,255);
}

/*Footer bottom*/

.footer-bottom {
    background-color: rgba(44,62,80,255);
}

