/*HEADER*/

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.navbar {
    background-color: rgba(44,62,80,255);
}

.nav-link {
    font-size: 15px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link:hover {
    color: none;
    color: green;
}

.header-start {
    background-color: rgba(26,188,156,255);
}

.img_avatar {
    width: 220px;
}

.short_line {
    display: inline-block;
    width: 90px;
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

.fa-star {
    font-size: 35px;
    vertical-align: middle;
}

.professionals {
    font-size: 22px;
}


/*MAIN*/

/*Section 1*/

.main-section-1 {
    background-color: white;
}

h2 {
    color: rgb(24, 24, 24);
}

.short_line-blue {
    background-color: rgb(8, 8, 37);
}

.fa-star-blue {
    color: rgb(8, 8, 37);
}

.main_images {
    width: 100%;
}

.card_portfolio {
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.card_portfolio::after {
	content: "+";
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	font-family: bootstrap-icons;
	font-size: 8rem;
	font-weight: bold;
	color: transparent;
	background-color: rgba(26,188,156,0);
	transition: all .4s;
}

.card_portfolio:hover {
	cursor: pointer;
}

.card_portfolio:hover::after {
	color: white;
	background-color: rgba(26,188,156,0.7);
}



/*Section 2*/

.main-section-2 {
    background-color: rgba(26,188,156,255);
}

.main-section-2 h2 {
    color: white;
}

.fa-download {
    padding-right: 7px;
    font-size: 19px;
}


/*Section 3*/

.section-3 {
    background-color: white;
}

.textarea {
    border: 0;
    border-bottom: 1.2px solid grey;
    line-height: 2.5em;
    border-radius: 0;
}

.textarea:focus {
    box-shadow: none;
    border-color: rgb(9, 65, 102);
}

.send_color {
    background-color: rgba(26,188,156,255);
    border-color: rgba(26,188,156,255);
}


/*FOOTER*/

/*Footer top*/

.footer-section-1 {
    background-color: rgba(58,84,109,255);
}

.fa-brands {
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-facebook-f , .fa-linkedin-in  {
    padding: 0.8em 1em;
}

.fa-google-plus-g {
    padding: 0.8em;
}

.fa-twitter {
    padding: 0.8em 0.9em;
}

.footer-section-1 a {
    color: white;
}

.footer-top span {
    color: rgba(26,188,156,255);
}

/*Footer bottom*/

.footer-bottom {
    background-color: rgba(44,62,80,255);
}

