/*HEADER*/
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.nav-bar {
    background-color: rgb(25, 25, 54);
}

.header-start {
    background-color: rgb(58, 224, 141);
}

.quadratino {
    width: 20px;
    height: 20px;
    background-color: white;
}

.img_blue {
    background-color: blue;
}

.start-bootstrap , .star {
    font-size: 25px;
    text-align: center;
}

.professionals {
    font-size: 20px;
    text-align: center;
}



/*MAIN*/

.section-1 {
    background-color: white;
}

.portfolio {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.star-blue {
    color: blue;
    text-align: center;
    font-size: 25px;
}

.img_home {
    background-color: rgb(110, 38, 38);
}































/*FOOTER*/
